:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;                   /*Hintergrund bearbeitung */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {             
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {                    /*Uberschriften*/
  font-size:30px;
  border: solid red 2px;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



#anmeldung{
  position: absolute;
  bottom:650px ;
  left: 1350px ;
  border: 2px solid red ; /*wieder löschen  */
}
#Navbar{
  position: absolute;
  bottom:500px;
  left:500px;
  
  border :2px solid red ; /*wieder löschen  */
}
#buttonFaq{
  position: relative;
  left: 360px ;
  bottom: 100px;
}

#name{
  position: relative;
  top :32px;
  right: 174px;
  border:solid red 2px;

}
#nachname{
  position: relative;
  top:65px;
  right: 350px;
  border:solid red 2px;
  
}
#gruppe{
  position:relative;
  top :95px;
  right: 525px;
  border:solid red 2px;
}
#E-mail{
  position: relative;
  top:125px;
  right: 700px;
  border:solid red 2px;
}
#telefon{
  position: relative;
  top:155px;
  right: 875px;
  border :solid red 2px ;
}

#faq{
position: relative;
border: solid 2px red;
top: 100px;
}
#imp{
  position: relative;
  border: red solid 2px;
  top:200px;
}